html {
    font-size: 16px;
}

body {
    color: #2E4466;
}

header {
    background-color: #0F3266;
    color: #FFF;
    height: 6.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.25rem;
    margin-right: 0.5rem;
    border-bottom: 0.2rem solid #FFF;
}

header a:hover {
    color: #699DEA;
    border: 0rem;
}

header a:active{
    color: #FFF;
}

header p {
    padding: 1.25rem;
    font-size: 3rem;
}

header ul {
    margin-right: 1.25rem;
}

header li {
    display: inline;
}

.hero {
    width: 100%;
    height: 20rem;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero p {
    position: absolute;
    font-size: 3rem;
    right: 4rem;
    top: 19rem;
    color: #FFF;
    z-index: 1;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: #2E4466;
    opacity: 0.5;
    bottom: 20.28rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.content-piece {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 15rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-title {
    border-right: .3125rem solid #0F3266;
    height: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 45rem;
}

.section-title h3 {
    font-size: 3rem;
    padding-right: 1.25rem;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1.25rem;
    width: 100%;
}

.section-content li {
    display: inline;
    padding: 1.875rem;
    font-size: 1.5rem;
}

.primary-work {
    height: 30rem;
    width: 99%;
    margin: 0 auto .625rem;
}

.primary-work-overlay {
    height: 100%;
    width: 100%;
    background: #699DEA; 
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    bottom: 484px;
    position: relative;
}

.primary-work-overlay-tag {
    position: relative;
    background-color: #2E4466;
    width: 10rem;
    height: 5rem;
    bottom: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.primary-work-overlay-tag h4,
.secondary-work-overlay-tag h4 {
    font-size: 1.2rem;
}

.primary-work-overlay-tag p,
.secondary-work-overlay-tag p {
    font-size: 0.9rem;
} 

.primary-work-overlay-tag h4,
.primary-work-overlay-tag p,
.secondary-work-overlay-tag h4,
.secondary-work-overlay-tag p {
    color: white;
}

.primary-work img,
.secondary-work img {
    height: 100%;
    width: 100%;
}

.primary-work-overlay:hover,
.secondary-work-overlay:hover {
    opacity: 0;
}

.primary-work,
.secondary-work {
    border: .3125rem solid #0F3266;
}

.secondary-work {
    height: 15rem;
    width: 48%;
    margin: 0 auto;
}

.secondary-work-overlay {
    height: 100%;
    width: 100%;
    background: #699DEA;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    bottom: 244px;
}

.secondary-work-overlay-tag {
    position: relative;
    background-color: #2E4466;
    width: 10rem;
    height: 5rem;
    bottom: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#work {
    height: 50rem;
}

#contact {
    height: 10rem;
}

#contact-list {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

#contact-list a {
    text-decoration: none;
    color: #2E4466;
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

#contact-list a:hover {
    font-size: 1.8rem;
    color: #699DEA;
}

#contact-list a:active {
    color: #1B57B3;
}