html {
    font-size: 16px;
}

body {
    color: #2E4466;
}

header {
    background-color: #0F3266;
    color: #FFF;
    height: 6.25rem;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0rem;
}

header a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.25rem;
    margin-right: 0.5rem;
    border-bottom: 0.2rem solid #FFF;
}

header a:hover {
    color: #699DEA;
    border: 0rem;
}

header a:active{
    color: #FFF;
}

header p {
    padding: 1.25rem;
    font-size: 3rem;
}

header ul {
    margin-right: 1.25rem;
}

header li {
    display: inline;
}

.hero {
    width: 100%;
    height: 20rem;
    margin-top: 6.25rem;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: #2E4466;
    opacity: 0.5;
    bottom: 20.28rem;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.content-piece {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-title {
    height: 100%;
    width: 20rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.section-title h3 {
    font-size: 3rem;
    padding-right: 1.25rem;
}

.section-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-left: .3125rem solid #0F3266;
}

.section-content li {
    display: inline;
    padding: 1.875rem;
    font-size: 1.5rem;
}

.profile-picture{
    height: 15rem;
    width: 15rem;
    margin-bottom: 1rem;
}

.primary-work {
    height: 30rem;
    width: 100%;
    margin: .625rem 0rem;
}

.primary-work-overlay {
    height: 100%;
    width: 100%;
    background: #699DEA; 
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    bottom: 484px;
    position: relative;
}

.primary-work-overlay-tag {
    position: relative;
    background-color: #2E4466;
    width: 10rem;
    height: 5rem;
    bottom: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.primary-work-overlay-tag h4,
.secondary-work-overlay-tag h4 {
    font-size: 1.2rem;
}

.primary-work-overlay-tag p,
.secondary-work-overlay-tag p {
    font-size: 0.9rem;
} 

.primary-work-overlay-tag h4,
.primary-work-overlay-tag p,
.secondary-work-overlay-tag h4,
.secondary-work-overlay-tag p {
    color: white;
}

.primary-work img,
.secondary-work img {
    height: 100%;
    width: 100%;
}

.primary-work-overlay:hover,
.secondary-work-overlay:hover {
    opacity: 0;
}

.primary-work,
.secondary-work {
    border: .3125rem solid #0F3266;
}

.secondary-work {
    height: 15rem;
    min-width: 48%;
    max-width: 48%;
    margin: 0.625rem 0rem;
}

.secondary-work-overlay {
    height: 100%;
    width: 100%;
    background: #699DEA;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    bottom: 244px;
}

.secondary-work-overlay-tag {
    position: relative;
    background-color: #2E4466;
    width: 10rem;
    height: 5rem;
    bottom: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#about-content {
    justify-content: center;
}

#contact {
    height: 100%;
}

#contact-list {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#contact-list a {
    text-decoration: none;
    color: #2E4466;
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

#contact-list a:hover {
    font-size: 1.8rem;
    color: #699DEA;
}

#contact-list a:active {
    color: #1B57B3;
}

@media screen and (max-width: 69.6875rem) {

    .primary-work {
        min-width: 100%;
    }
    .secondary-work {
        min-width: 100%;
    }

    #contact-list {
        justify-content: flex-start;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    #contact-list li {
        display: block;
    }

    header {
        height: 12.5rem;
        display: block;
        text-align: center;
        position: static;
        min-width: 31.25rem;
    }
    
    header a{
        border-bottom: 0rem;
    }
    
    header p {
        padding: 0rem 0rem 1rem;
        font-size: 3rem;
        width: 100%;
    }
    
    header li {
        display: block;
        margin-bottom: 0.5rem;
    }

    .hero {
        margin-top: 0rem;
        min-width: 31.25rem;
    }
    
    .content {
        display: block;
        min-width: 31.25rem;
    }
    
    .content-piece {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .section-title {
        height: 100%;
        width: 20rem;
        border-bottom: 0.25rem solid #0F3266;
        margin-bottom: 2rem;
        text-align: center;
        display: block;
    }
    
    .section-title h3 {
        font-size: 3rem;
        padding-right: 0rem;
    }
    
    .section-content {
        border-left: 0rem;
    }
    
    .section-content li {
        padding: 1rem;
        text-align: center;
    }

    #contact-list {
        justify-content: center;
    }
}
